---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.jsx';
import Services from '../components/Services.jsx';
import FutureFeatures from '../components/FutureFeatures.jsx';
import About from '../components/About.jsx';
import Contact from '../components/Contact.jsx';
import Footer from '../components/Footer.jsx';
import Download from '../components/Download.jsx';
import Navbar from '../components/Navbar.astro';
---

<Layout>
  <Navbar />
  <main class="pt-16">
    <Hero client:load />
    <About client:load />
    <Services client:load />
    <FutureFeatures client:load />
    <Download client:load />
    <Contact client:load />
  </main>
  <Footer />
</Layout>
